<form [formGroup]="form" (ngSubmit)="submit()">
  <label for="">Name</label>
  <input type="text" formControlName="name">
  <div formArrayName="skills">
    <div *ngFor="let skill of skills.controls; let i=index">
      <div [formGroupName]="i">
        <label for="">Skill</label>
        <input type="text" formControlName="skill">
        <label for="">exp</label>
        <input type="text" formControlName="exp">
        <button (click)="remove(i)"></button>
      </div>
    </div>
    <button (click)="addSkill()">Add Skill</button>
  </div>

  <div formArrayName = "currencies">
    <div *ngFor="let currency of currencies.controls; let i=index">
        <label for="">currency</label>
        <input type="text" [formControlName]="i">
    </div>
    <button (click)="addCurrency()">Add Currency</button>
  </div>

  <button type="submit"></button>
</form>

<button (click)="showPosts()">Go to Posts</button>
